@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,200,500,600,700);

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:focus {
    outline: 0 !important
}
.fit-vids-style {
    display: none
}
figure {
    margin: 0;
    padding: 0;
}
figure img {
    width: 100%;
    height: auto;
}
iframe {
    border: none
}
::selection {
    background: #fefac7; /* Safari */
    color: #555555;
}
::-moz-selection {
    background: #fefac7; /* Firefox */
    color: #555555;
}
/*-----------------------------------------------------------------------------------*/
/*	01. GENERAL
/*-----------------------------------------------------------------------------------*/
body {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    font-family: 'Raleway', arial;
    overflow-x: hidden;
    background-color: #F3F1F1;
    color: #8B8B8B;
    font-size: 14px;
    font-weight: normal;
    padding-top: 150px;
}
.container {
    padding-right: 0;
    padding-left: 0;
}
body,
li,
address {
    line-height: 22px
}
input,
button,
select,
textarea {
    font-family: 'Raleway', arial;
    font-size: 14px;
    font-weight: normal;
}
p {
    margin: 0 0 15px;
    line-height: 190%;
}
a {
    color: #999;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    cursor: pointer;
}
a:hover,
a:focus {
    color: #B39758;
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', serif;
    margin-top: 0;
    color: #616060;
    margin-bottom: 10px;
    font-weight: 200;
}

h1 {
    font-size: 36px;
    line-height: 35px;
}
h2 {
    font-size: 22px;
    line-height: 30px;
}
h3 {
    font-size: 18px;
    line-height: 22px;
    color: #F26D33;
}
h4 {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px;
}
h5 {
    font-size: 13px;
    line-height: 17px;
}
h6 {
    font-size: 12px;
    line-height: 16px;
}



h2 {
    font-weight: 300;
    line-height: 32px;
    color: #262626;
    font-family: 'Raleway', serif;
}
.lead {
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    font-family: 'Raleway', serif;
}
ul {
    padding: 0 0 0 18px
}
ol {
    padding: 0 0 0 20px
}
ul,
ol {
    margin-bottom: 15px
}
ul.circled {
    padding: 0;
    list-style: none;
}
ul.circled li:before {
    content: '\e800';
    margin-right: 10px;
    font-weight: normal;
    vertical-align: top;
    padding-top: 1px;
    display: inline-block;
    font-family: 'fontello-circle';
    color: #28b8d8;
    font-size: 8px;
}
.thin {
    width: 70%;
    margin: 0 auto;
}
.dropcap {
    font-weight: 800;
    display: block;
    float: left;
    font-size: 49px;
    padding: 0;
    margin: 0;
    margin: 12px 8px 0 0;
    text-transform: uppercase;
}
hr {
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 40px;
    margin-bottom: 70px;
}
blockquote {
    color: #FFF;
    font-size: 25px;
    line-height: 36px;
    background: #28b8d8;
    padding: 30px 35px 26px 35px;
    font-weight: 300;
    font-family: 'Raleway', serif;
    border: 0;
}
blockquote small {
    line-height: inherit;
    color: #FFF;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Raleway', arial;
    font-weight: 400;
    margin-top: 5px;
}


#contactForm p{
	margin: 0;
}



/*-----------------------------------------------------------------------------------*/
/* HEADER
/*-----------------------------------------------------------------------------------*/
.navbar-fixed-top {
	border: none;
}
.navbar-brand {
	height: auto;
	padding: 10px 0 0 20px;
}
.navbar-header {
    float: none !important; border: none;
}
.navbar-header a{border-bottom: none;}
.navbar .container {
    padding: 0
}
.navbar-header {
    background: rgba(255,255,255,1);
    padding: 0;
    height: 90px;
}
.no-page-title .navbar-header {
    background: rgba(255,255,255,1)
}
.navbar-collapse {
    width: auto;
    padding: 0;
    border: none;
    background: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.navbar-nav {
    margin: 0 0 0 70px;
    clear: right;
}
.navbar-nav > li{
	padding: 7px 0; margin: 0;
}
.navbar-nav > li:first-child a {
    border-left: 1px solid #979A9E;
}
.navbar-nav > li > a {
    font-family: 'Raleway', arial;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    color: #f5f5f5;
    border-right: 1px solid #979A9E;
    padding: 26px 25px;
    border-top: 4px solid #fff;
}

.nav > li:focus, 
.nav > li:hover,
.nav > li.current{
    border-top: 4px solid #B39758;
    padding-top: 3px;
}
.navbar .dropdown-menu {
    padding: 0;
    margin: 0;
    min-width: 190px;
    background: rgba(21,21,21,0.9);
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.navbar .dropdown-menu li {
    background: transparent;
    border: none;
    border-top: 1px solid rgba(255,255,255, 0.06);
}
.navbar .dropdown-menu li:first-child {
    border: none
}
.navbar .dropdown-menu li a {
    padding: 13px 15px;
    line-height: 1;
    color: #e9e9e9;
    font-size: 13px;
    font-family: 'Raleway Condensed', arial;
    font-weight: 700;
}
.navbar .dropdown-menu li a:hover,
.navbar .dropdown-menu li a.active {
    padding: 13px 15px;
    filter: none;
    line-height: 1;
    background: #414141;
    color: #e9e9e9;
}
.navbar .nav .open > a,
.navbar .nav .open > a:hover,
.navbar .nav .open > a:focus {
    background: none;
    color: #28b8d8;
}
.navbar .nav > li > .dropdown-menu:after {
    display: none
}
.navbar .nav > li > .dropdown-menu:before {
    display: none
}
.navbar .dropdown-menu > li > a:hover,
.navbar .dropdown-menu > li > a:focus,
.navbar .dropdown-submenu:hover > a,
.navbar .dropdown-submenu:focus > a,
.navbar .dropdown-menu > .active > a,
.navbar .dropdown-menu > .active > a:hover,
.navbar .dropdown-menu > .active > a:focus {
    background: none;
    color: #28b8d8;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}



.btn.responsive-menu {
    padding: 7px 12px;
    margin: 0;
    display: none;
    font-size: 15px;
}
.btn.responsive-menu i {
    margin: 0
}


.slogan{
	float: left; width: 200px; color: #FDDE4E; padding: 40px 0 0 30px;
}



/* ===================
LISTING
=================== */

.list-wrap{

}

.list-wrap h2{
	color: #4A4A4A;
	font-size: 14px;
	margin-top: 28px;
	text-transform: uppercase;
}
.list-wrap p{
	color: #A2A2A2;
	font-family: "Raleway",sans-serif;
	font-weight: 400;
	font-size: 13px;
	padding-bottom: 25px;
}

.listing{
	height: 200px;
    width: 100%;
	display: block;
	position: relative;
    overflow: hidden;
}


.listing img {
     height: 100%;
     transition:all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}

.listing:hover img{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
}
    
.listing a {
    width:100%;
    height:100%;
    position:absolute;
    top:0px;
    left:0px;
    z-index: 999;
     transition:all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}

.listing a:hover{
    display:block;
    background-color: rgba(0, 0, 0, 0.6);
}

.listing a:hover span{
    font-size: 15px;
    color: #FFF;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 1px solid #FFF;
    overflow: hidden;
    text-align: center;
	line-height: 52px;
	vertical-align: middle;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -26px;
	margin-left: -26px;
}
		
.listing a i{
	font-size: 16px; color: #fff;
	position:absolute;
	top:50%;
	left:50%;
	margin: -7px 0 0 -7px;
	display: none;
} 
.listing a:hover i {
	display: block;
}




/*-----------------------------------------------------------------------------------*/
/*	06. BUTTON
/*-----------------------------------------------------------------------------------*/
.btn,
.btn-submit {
    color: #8B8B8B;
    background: #fff;
    margin-bottom: 10px;
    margin-right: 4px;
    padding: 10px 20px;
    text-shadow: none;
    border: 1px solid #DFDFDF;
    -webkit-border-radius: 0;
    border-radius: 0;
    text-transform: none;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: inline-block;
    width: auto;
    font-size: 13px;
}
.btn-large {
    padding: 13px 23px 13px 23px
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active{
	border-color: #B39758;
	color: #B39758;
}

/*-----------------------------------------------------------------------------------*/
/*	08. FORMS
/*-----------------------------------------------------------------------------------*/
.forms {
    position: relative;
    padding: 0;
    width: 100%;
}
.form-container .response {
    display: none
}
.forms ol {
    margin: 0;
    padding: 0;
}
.forms ol li {
    line-height: auto;
    list-style: none;
}
.forms li.hidden-row {
    display: none
}
input,
textarea,
.uneditable-input {
    width: 100%
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input,
.form-control {
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    height: 40px;
    padding: 0 10px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 25px;
    color: #737373;
    border: 1px solid rgba(0,0,0,0.1);
    background: #fff;
    resize: none;
    vertical-align: middle;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus,
.form-control:focus {
    border: 1px solid rgba(0,0,0,0.4);
    background: #fff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
textarea {
    height: 100%;
    padding: 10px 10px !important;
    margin-bottom: 15px;
    min-height: 140px;
    resize: vertical;
}
.btn-submit {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    width: auto;
}
.forms li.error input,
.forms li.error textarea {
    border: 1px solid #b54d4d
}
.forms span.error {
    display: none
}
.forms .button-row span.error {
    padding: 0;
    display: none;
}
.forms .button-row p.forgot {
    padding: 6px 0 0 10px;
    overflow: hidden;
    display: inline-block;
}
.forms label {
    display: block;
    float: left;
    width: 95px;
    padding-top: 7px;
    font-size: 13px;
    clear: both;
}
.comment-form div label {
    position: absolute;
    top: 0;
    left: 0;
}
.form-container:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.searchform {
    position: relative
}
.searchform .btn {
    position: absolute;
    top: 0;
    right: -5px;
    height: 40px !important;
    padding: 0 15px !important;
}

/*-----------------------------------------------------------------------------------*/
/*	21. REVOLUTION SLIDER
/*-----------------------------------------------------------------------------------*/

.tp-caption {
color:#fff;
/*text-shadow:0px 2px 5px rgba(0, 0, 0, 0.5); */
font-weight:300;
font-size:20px;
line-height:20px;
padding: 30px 0px;
margin:0px;
border-width:0px;
border-style:none;
white-space:nowrap;
background-color: rgba(0,0,0,0.4);
width: 100%;
}
.tp-caption h2,
.tp-caption p{
	text-align: center;
	color: #fff !important;
}
.tp-caption h2{
	font-weight: 700; text-transform: uppercase;
	margin-bottom:  30px;
	
}

.tp-caption a{
	padding: 10px 20px; border: 1px solid #fff; color:#fff;
}
.tp-caption a:hover{
	color: #B39758;
	border: 1px solid #B39758;
}

.tp-leftarrow.default,
.tp-rightarrow.default {
    background: rgba(0,0,0,0.0);
    color: #f7f7f7;
    font-size: 10px;
    padding: 12px 20px;
    width: auto;
    height: auto;
    border-radius: 100%;
    border: 1px solid #fff;
    font-weight: normal;
}
.tparrows:before {
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
}
.tp-leftarrow.default:before {
    content: '\f053'
}
.tp-rightarrow.default:before {
    content: '\f054'
}
.tparrows:hover {
	color: #B39758;
	border: 1px solid #B39758;
}
.tp-bullets {
    bottom: 30px !important
}
.tp-bullets.simplebullets.round .bullet {
    width: 12px;
    height: 12px;
    margin-left: 4px;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    background: rgba(0,0,0,0.45);
}
.tp-bullets.simplebullets.round .bullet.selected,
.tp-bullets.simplebullets.round .bullet:hover {
    background: rgba(0,0,0,0.75)
}
.tp-bullets.hidebullets {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}
.tp-loader.spinner0 {
    background: none !important;
    height: 36px;
    width: 36px;
    -webkit-animation: rotation .8s infinite linear;
    -moz-animation: rotation .8s infinite linear;
    -o-animation: rotation .8s infinite linear;
    animation: rotation .8s infinite linear;
    border-left: 3px solid rgba(40,184,216,.15);
    border-right: 3px solid rgba(40,184,216,.15);
    border-bottom: 3px solid rgba(40,184,216,.15);
    border-top: 3px solid rgba(40,184,216,.8);
    border-radius: 100%;
    margin: -18px -18px;
    top: 50%;
    left: 50%;
    z-index: 1000;
    position: absolute;
    box-shadow: none;
    -webkit-box-shadow: none;
}


.filter-menu ul{
	margin: 0 0 30px 0; padding: 0;
	list-style: none;
}
.filter-menu li{
	display: inline-block; border: 1px solid #ddd; background: #fff; padding: 10px 20px; margin: 0 10px 0 0;
}


/*-----------------------------------------------------------------------------------*/
/*	PRODUCT DETAIL
/*-----------------------------------------------------------------------------------*/

#product_info_wrap{
	position: absolute;
	top: 0px;
	left: 0;
	width: 600px;
	z-index: 100;
	height: 100%;
	background-color: #fff;
}
#project_info{
	display: inline-block; margin-top: 120px; width: 550px; padding: 0px 0px 0 50px;
}
#project_info h1{
	color: #A2A2A2; font-size: 20px;
}
#project_info p{
	font-size: 13px;
}

a.project_info_btn{
	position: absolute;
	top: 123px;
	right: -80px;
	z-index: 5;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	width: 50px;
	height: 50px;
	border: 2px solid #fff;
}
a.project_info_btn .fa{
	margin: 11px 0 0 13px; float: left;
	color: #fff;
	font-size: 25px;
}
a.project_info_btn:hover{
	background-color: #fff;
}
a.project_info_btn:hover .fa{
	color: #B39758;
}

.social_share {
	margin-top: 100px;
}
.social_share .fa{
	display: inline-block; margin: 0 10px 0 10px; font-size: 18px;
}

.popover{
	background-color: #000; padding: 20px; font-size: 13px;
}
.popover > .arrow {
	display: none;
}

a.plus{
	position: absolute;
	z-index: 1000;
	top: 60%;
	right: 30%;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	width: 50px;
	height: 50px;
	border: 2px solid #fff;
}
a.plus .fa{
	margin: 11px 0 0 13px; float: left;
	color: #fff;
	font-size: 25px;
}
a.plus:hover{
	background-color: #fff;
}
a.plus:hover .fa{
	color: #B39758;
}


/********************* MIXIT- UP *************************************/

#mixit-up .mix{
    display: none;
}

/**************************************** project info panel **********************/

.info-collapsed{
    height: 0;
}
